<link rel="stylesheet" type="text/css" href="/assets/trix.css">
<script type="text/javascript" src="/assets/trix.js"></script>

<%= form_for(editor) do |f| %>
  <% if editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :content %>
    <%= f.trix_editor :content %>
  </div>

<div class="docx_save">
    <div class="actions">
      <%= f.submit "Download as docx", class: "btn btn-success" %>
    </div>
  </div>
</div>
<% end %>
