<div class="col-md-12">
<%= render 'editor_navbar' %>
<%= render 'form', editor: @editor %>

<p>
  <%= @editor.content %>   
</p>
</div>

<%= link_to 'Edit', edit_editor_path(@editor) %> |
<%= link_to 'Back', editors_path %>
